In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

In [26]:
bank_data = pd.read_csv("./Downloads/Bank-data.csv")
bank_data.columns

Index(['Unnamed: 0', 'interest_rate', 'credit', 'march', 'may', 'previous',
       'duration', 'y'],
      dtype='object')

In [27]:
bank_data = bank_data.drop(['Unnamed: 0'], axis=1)

In [28]:
bank_data.describe(include='all')

,interest_rate,credit,march,may,previous,duration,y
count,518.000000,518.000000,518.000000,518.000000,518.000000,518.000000,518
unique,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,no
freq,NaN,NaN,NaN,NaN,NaN,NaN,259
mean,2.835776,0.034749,0.266409,0.388031,0.127413,382.177606,NaN
std,1.876903,0.183321,0.442508,0.814527,0.333758,344.295990,NaN
min,0.635000,0.000000,0.000000,0.000000,0.000000,9.000000,NaN
25%,1.042750,0.000000,0.000000,0.000000,0.000000,155.000000,NaN
50%,1.466000,0.000000,0.000000,0.000000,0.000000,266.500000,NaN
75%,4.956500,0.000000,1.000000,0.000000,0.000000,482.750000,NaN
max,4.970000,1.000000,1.000000,5.000000,1.000000,2653.000000,NaN

In [29]:
bank_data['y']= bank_data['y'].map({'yes':1, 'no':0})

In [30]:
bank_data

     interest_rate  credit  march  may  previous  duration  y
0            1.334     0.0    1.0  0.0       0.0     117.0  0
1            0.767     0.0    0.0  2.0       1.0     274.0  1
2            4.858     0.0    1.0  0.0       0.0     167.0  0
3            4.120     0.0    0.0  0.0       0.0     686.0  1
4            4.856     0.0    1.0  0.0       0.0     157.0  0
..             ...     ...    ...  ...       ...       ... ..
513          1.334     0.0    1.0  0.0       0.0     204.0  0
514          0.861     0.0    0.0  2.0       1.0     806.0  1
515          0.879     0.0    0.0  0.0       0.0     290.0  0
516          0.877     0.0    0.0  5.0       1.0     473.0  1
517          4.965     0.0    0.0  0.0       0.0     142.0  0

[518 rows x 7 columns]

In [84]:
x = bank_data[['interest_rate','duration','credit','previous','march']]
y = bank_data['y']
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, shuffle=30)

In [87]:
# x= x.values.reshape(-1, 1)
logistic = LogisticRegression()
logistic.fit(x_train,y_train)

LogisticRegression()

In [88]:
yhat = logistic.predict(x_test)

In [82]:
logistic.score(x,y)

0.8706563706563707

In [89]:
def confusion_matrix(data,actual,model):
    predicted = model.predict(data)
    bins = np.array([0,0.5,1])
    cm = np.histogram2d(actual, predicted,bins=bins)[0]
    accuracy = (cm[0,0]+cm[1,1])/cm.sum()
    return cm, accuracy

In [91]:
print(confusion_matrix(x_test,y_test,logistic))

(array([[41., 10.],
       [ 3., 50.]]), 0.875)